<h3>{{burger_name}}</h3>
<button class="delBurger btn btn-danger" data-id="{{id}}" data-devoured="{{devoured}}">Throw away</button>
<button class="orderAgain btn btn-warning" data-id="{{id}}" data-devoured="{{devoured}}">Order Again</button>